<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Page</title>
    <link rel="stylesheet" href="addReview.css">
</head>
<body>
    <header>
        <div class="logo">Travello 2.0</div>
        <button id="logoutBtn" class="btn-logout" id="logout-button">Logout</button>
    </header>
    <main>
        <form id="reviewForm">
            <h2>Submit a Review</h2>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
            <label for="review">Review:</label>
            <textarea id="review" name="review" rows="10" required></textarea>
            <button type="submit" id="submitReviewBtn">Submit</button>
        </form>
    </main>
    <script src="addReview.js"></script>
</body>
</html>
