body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
}

.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.search-container input {
    width: 500px;
    padding: 5px;
}

.logout-button button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.logout-button button:hover {
    background-color: #d32f2f;
}

.greeting-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(136, 166, 29, 0.653);
    border-bottom: 1px solid #ddd;
}

.greeting-section h1 {
    margin: 0;
}

.add-review-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.add-review-button:hover {
    background-color: #45a049;
}

.review-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-image: url('Group Tours.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.review-card {
    background-color: #333;
    color: white; /* Ensure text is readable on dark background */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    width: calc(20% - 20px); /* Adjust width to fit 4 cards per row */
}


.review-card h2 {
    margin-top: 0;
}

.review-card p {
    margin-bottom: 0;
}
