body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url("Group Tours.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.49);
    color: #fff;
    padding: 10px 10px;
}

.user-and-logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.search-container input {
    width: 500px;
    padding: 5px;
}

.logout-button button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.logout-button button:hover {
    background-color: #d32f2f;
}

.greeting-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: rgba(76, 158, 38, 0.653); */
}

.add-review-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.add-review-button:hover {
    background-color: #45a049;
}


.review-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.review-card {
    background-color: #34495eb4;
    color: white; /* Ensure text is readable on dark background */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.894);
    margin: 10px;
    padding: 20px;
    width: calc(20% - 20px); /* Adjust width to fit 4 cards per row */
    height: 260px;
}

.review-card h2 {
    margin-top: 0;
}

.review-card p {
    margin-bottom: 0;
}

#pagination-container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    gap: 5px;
    color: #fff;
}

.page-button {
    padding: 10px 15px;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #fff;
}

.page-button:hover {
    background-color: #f0f0f0;
}

.page-button.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}
