<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dynamic Web Page</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <header class="header">
            <div class="logo">Travel Review</div>
            <nav class="nav">
                <a href="#about">About</a>
                <a href="#faq">FAQ</a>
                <a href="#contact">Contact</a>
                <button class="btn" id="registerBtn">Register</button>
                <button class="btn" id="loginBtn">Log In</button>
            </nav>
        </header>
        <main class="main-content">
            <div class="intro">
                <div class="logo_traveller">
                    <img src="2.png" alt="Image of Traveller" />
                </div>
                <div class="intro_text">
                    <h1>Your Travel Partner</h1>
                    <p>
                        Our platform features a wide range of reviews covering various tourist
                        attractions across the country. You can browse through reviews of historical
                        sites. Whether you are planning a trip to this beautiful South Asian country
                        or are simply curious about its hidden gems, Discover Bangladesh offers a
                        comprehensive and user-friendly resource for exploring the nation's diverse
                        attractions.
                    </p>
                    <button class="explore-btn" id="exploreBtn">Explore More</button>
                </div>
            </div>
        </main>
        <script src="script.js"></script>
    </body>
</html>
