<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dynamic Web Page</title>
        <link rel="stylesheet" href="login_style.css" />
    </head>
    <body>
        <header class="header">
            <div class="logo">Travel Review</div>
            <nav class="nav">
                <a href="#about">About</a>
                <a href="#faq">FAQ</a>
                <a href="#contact">Contact</a>
                <button class="btn" id="registerBtn">Register</button>
                <button class="btn" id="loginBtn">Log In</button>
            </nav>
        </header>
        <main class="main-content">
            <div class="register">
                <h2>Register</h2>
                <form id="registerForm">
                    <input type="text" id="username" placeholder="Username" required /><br />
                    <input type="email" id="email" placeholder="Email" required /><br />
                    <input type="text" id="address" placeholder="Address" required /><br />
                    <input type="password" id="password" placeholder="Password" required /><br />
                    <button type="submit" id="submitBtn">Register</button>
                </form>
            </div>
        </main>
         <script src="register.js"></script>
    </body>
</html>
