<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Review Detail</title>
        <link rel="stylesheet" href="reviewById.css" />
    </head>
    <body>
        <header>
            <div class="logo">Travello 2.0</div>
            <div class="user-and-logout">
                <h4>Hey User</h4>
                <div class="logout-button" id="logout-button">
                    <button>Logout</button>
                </div>
            </div>
        </header>

        <div class="review-container" id="review-container"></div>
        <script src="reviewById.js"></script>
    </body>
</html>
