/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for body */
body {
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    background-color: #f4f4f4;
}

/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.nav .btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.nav .btn:hover {
    background-color: #45a049;
}

/* Main content styling */
.main-content {
    padding: 50px 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(Group\ Tours.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.intro {
    background-color: rgba(122, 119, 119, 0.757);
    padding: 40px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.intro_text{
    height: auto;
    width: 900px;
}

.intro h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.explore-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
}

.explore-btn:hover {
    background-color: #555;
}

.logo_traveller {
    height: 300px;
    width: 400px;
    overflow: hidden; 
    margin-left: 20px;
    margin-right: 20px;
}

.logo_traveller img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
}
